.container{
    max-width: 900px;
    margin: auto;
}

/* --------------------PRODUCTO */
.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 1fr;
    grid-auto-rows: 1fr;
    height: 100vh;

}
.description{
    grid-column-end: span 3;
    display: flex;
    align-items: center;
}
.description img{
    margin: 0 10% ;
}

/* ----------------------VENTA */

.products-sale{
    display: flex;
    justify-content: center;
}
.description-product{
    margin: 10% 1%;
    width: 30%;
    padding: 1%;
    box-shadow: 0px 3px 6px #c1bcbc;
}
.description-product figure{
    width: 50%;
    margin: auto;
}
.description-product img{
    width: 100%;
}
input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #313337;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px;
}
label{
    margin-top: 10px;
}
.bottom{
    background-color: #7acc2d;
    border:1px solid black;
    color: white;
}